.correct{
    background-color: green !important;
}

.incorrect{
    background-color: red !important;
}

.displayNone{
    visibility: hidden;
}

.font-red {
    color: red !important;
}

.font-green {
    color: green !important;
}