.correct{
    background-color: green !important;
}

.incorrect{
    background-color: red !important;
}

.font-red {
    color: red !important;
}

.font-green {
    color: green !important;
}

.timer-warning {
    color: red !important;
    font-size: 60px !important;
}